body {
    background-color: #efefef;
}


/* ---------------------- start - Cover Photo - start---------------------------*/

.tinted-image {

    background: url("../images/handsHoldingBanner.jpg"); 
    height: 50vh;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

}


.tinted-image div h2 {
    color: white;
    height: 400px;
    position: relative;
    top: 100px;
    font-size: 400%;
    text-shadow: 2px 2px 4px rgba(0,0,0,.6), 4px 4px 8px rgba(50,50,50,.4), 8px 8px 12px rgba(100,100,100,.2);    
}
/* ----------------------end - Cover Photo - end---------------------------*/
    
p strong {
    color: #0f192b;
    font-size: 140%;
}



div.section p, div.section ul li {
    color: #002253;
    font-size: 125%;
}

div p.imgInfo {
    font-size: 90%;
}

.section {
    padding: 1%;
}

.textBackground {
    padding: 15px;
}

#roots h2 {
    color: #0000ff; 
}
#philosophy {
    padding: 0 10% 10% 10%;
    line-height: 300%;
    border-right: 1px solid #ff8000;
}
#philosophy h2 {
    color: #ee0000;
}

.whiteBackground {
    background-color: white;
}

#ourValues h2 {
    color: #00802b;
}




.profilePic {
    width: 76%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
}

.familyPic {
    width: 100%;
    height: auto;
    max-height: 500px;
    margin: 15px auto 0 auto;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

div.iconBox {
    padding: 5%;
    margin-top: 20%;
}

div.iconBox p i {
    font-size: 200%;
    color: #ff8000;
}


@media only screen and (max-width: 768px) {
    .tinted-image div h2 {
        font-size: 300%;   
    }

    #philosophy {
        padding: 0 10% 10% 10%;
        line-height: 300%;
        border-right: none;
        border-bottom: 1px solid #ff8000;
    }
  }

