




/* ---------------------- start - Cover Photo - start---------------------------*/
.tinted-image {
    background: url("../images/adaptiveSkillsTraining.jpg"); 
    height: 50vh;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.tinted-image div h2 {
    color: white;
    height: 400px;
    position: relative;
    top: 100px;
    font-size: 400%;
    text-shadow: 2px 2px 4px rgba(0,0,0,.6), 4px 4px 8px rgba(50,50,50,.4), 8px 8px 12px rgba(100,100,100,.2);    
}
/* ----------------------end - Cover Photo - end---------------------------*/

.section {
    padding: 2%;
    font-size: 140%;
}

.section div ul li {
    font-size: 90%;
    padding-bottom: 2%;
}

hr.orange {
    border-color: #ff8000;
    background-color: #ff8000;
    color: #ff8000;
}

.divider {
    border-right: 1px solid #ff8000;
    padding: 7%;
}

span.text-highlight {
    font-size: 140%;
    color: #0000ff;
}

p.program-highlights {
    font-size: 80%;
}

div.program-highlights {
    margin-top: 20px;
}

div.program-highlights i {
    font-size: 150%;
    color: #ff8000;
}

@media only screen and (max-width: 768px) {
    .tinted-image div h2 {
        top: 80px;    
    }
    .divider {
        border-right: none;
        border-bottom: 1px solid #ff8000;
        padding: 7%;
    }
    .list {
        margin-top: 15px;
    }
}