body {
    background-color: #efefef;
}




/* ---------------------- start - Cover Photo - start---------------------------*/
.tinted-image {
    background: url("../images/contactUs.jpg"); 
    height: 50vh;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.tinted-image div h2 {
    color: white;
    height: 400px;
    position: relative;
    top: 100px;
    font-size: 400%;
    text-shadow: 2px 2px 4px rgba(0,0,0,.6), 4px 4px 8px rgba(50,50,50,.4), 8px 8px 12px rgba(100,100,100,.2);    
}
/* ----------------------end - Cover Photo - end---------------------------*/


img.map {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

.section {
    padding: 2%;
    font-size: 140%;
}

.section div ul li {
    font-size: 70%;
}


.divider {
    border-right: 1px solid #ff8000;
    padding: 7%;
}


form div.row {
    margin: 3%;
}

form div input {
    width: 100%;
}

div.form-container {
    max-width: 480px;
}

button {
    float: right;
    margin-right: 8%;
    background-color: #002253;
    color: white;
}






@media only screen and (max-width: 768px) {
    .divider {
        border-right: none;
        border-bottom: 1px solid #ff8000;
        padding: 7%;
    }
    .list {
        margin-top: 15px;
    }
    textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
}