body {
    background-color: #efefef;
}


/* ---------------------- start - Cover Photo - start---------------------------*/

.tinted-image {
    background: url("../images/ourStaffCover.jpg"); 
    height: 50vh;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.tinted-image div h2 {
    color: white;
    height: 400px;
    position: relative;
    top: 100px;
    font-size: 400%;
    text-shadow: 2px 2px 4px rgba(0,0,0,.6), 4px 4px 8px rgba(50,50,50,.4), 8px 8px 12px rgba(100,100,100,.2);    
}
/* ----------------------end - Cover Photo - end---------------------------*/




.staff-intro {
    padding: 8% 15%;
    text-align: center;
    font-size: 160%;
    background-color: white;
    color: #002253;
}


p strong {
    color: #0f192b;
    font-size: 140%;
}


.section {
    padding: 2%;
}

.col-sm-3, .col-md-2 {
    padding: 0px;
}


.staff-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    transition: width .4s, height .4s, box-shadow .4s;
}

.staff-img:hover {
    width: 320px;
    height: 320px;
    box-shadow: 0px 5px 5px black, 0px 8px 8px #555;
}

.staff-card {
    width: 96%;
    height: 530px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

.staff-text {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
    color: #777;
    padding: 8px;
}

.staff-text h4 {
    color: #000;
    font-style: normal;
    text-decoration: underline;
}

.staff-text p {
    padding: 2%;
}


@media only screen and (max-width: 768px) {

    .staff-card {
        height: auto;
    }

}

@media only screen and (min-width: 768px) {

    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

}







